APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:qq4VUCgym1gBAIH4GFWHeNNZFBiSpNM2IyLibtf6R1U=
APP_URL=https://demo.micropowermanager.io

# DB_CONNECTION=micro_power_manager
# DB_HOST=db
# DB_PORT=3306
# DB_DATABASE=micro_power_manager
# DB_USERNAME=root
# DB_PASSWORD=superSecurePassw0rd!

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=micro_power_manager
DB_USERNAME=remote_admin
DB_PASSWORD=MicroPower@13524

CACHE_DRIVER=redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync

BROADCAST_DRIVER=pusher
REDIS_CLIENT=predis

PUSHER_APP_ID="PUSHER-APP-ID"
PUSHER_APP_KEY="PUSHER-KEY"
PUSHER_APP_SECRET="PUSHER-APP-SECRET"
PUSHER_APP_CLUSTER="YOUR-CLUSTER ex. eu"

JWT_SECRET="8b6708342020418ef06cdebe4fd9f371"
JWT_BLACKLIST_ENABLED=false

# LOG_CHANNEL=mpm_stack
LOG_CHANNEL=stack
LOG_LEVEL="info"
# LOG_SLACK_WEBHOOK_URL="http://slackchannel.com"
LOG_SLACK_WEBHOOK_URL="null"

MAIL_HOST="smtp.mailserver"
MAIL_PORT=587
MAIL_USERNAME="USERNAME"
MAIL_PASSWORD="PASSWORD"

SUNKING_API_URL="https://dev.assetcontrol.central.glp apps.com/v2"

WAVEMONEY_API_URL="https://preprodpayments.wavemoney.io:8107"

BLUETTI_APP_KEY=cef2e749759083853e19023833f30067
BLUETTI_APP_SECRET=19moMHzlHeDmqZbH1QPqRlCr+Axgu00R8wHkzLz+Adz/CrKyRRyPEczcPRSmBJOHQ3oR0daWLLQb99lyM7g7R69ex3+uuCtc
BLUETTI_BASE_URL=https://open.bluetti.com
BLUETTI_CUSTOMER_NO=BGO717474224117170176